
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin container {
    width: 80%;
    margin: 10rem auto;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
}