// COLORS
$color-text-light: #fbf5f3;
$color-text-dark: #241623;
$color-primary: #ec3258;
$color-secondary: #2176AE;
$color-tertiary: #51334f;
$color-grey-light: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;