.hero {
    height: 95vh;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary, .8),
        rgba($color-secondary, .8)
    ),
    url(../img/palm-oil-stew-10.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    color: $color-text-light;
    clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__heading {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &__sub-heading {
        animation: moveInRight 1s ease-Out;
    }
}

.about-section {
    background-color: $color-grey-light;
    padding: 15rem 0;
    margin-top: -10vh;
}