$color-text-light: #fbf5f3;
$color-text-dark: #241623;
$color-primary: #ec3258;
$color-secondary: #2176AE;
$color-tertiary: #51334f;

:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8rem 3rem;
    z-index: 2;
    background-color: rgba($color-primary, 0.3);
    width: 100%;
    clear: both;
}

.header__logo-box {
    display: inline-block;
    position: absolute;
    top: 0;
    background: $color-secondary;
    padding: 1.5rem 2.1rem;
}

.header__btn-container {
    float: right;
}

.primary-nav ul {
    margin: 0;
    padding: 0;
}

.primary-nav li {
    list-style: none;
    float: left;
    padding-right: 1.1rem;

}

.primary-nav a {
    color: $color-text-light;
}

clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.primary-nav--pull-right{
    float: right;
}

.hero {
    height: 95vh;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary, .5),
        rgba($color-secondary, 0.5)
    ),
    url(../img/palm-oil-stew-10.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    color: $color-text-light;
    clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);
}

.hero__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero__heading {
    display: block;
    color: $color-text-light;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    padding-top: 4rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hero__sub-heading {
    font-size: 1.4rem;
    font-weight: 400;
    animation: moveInRight 1s ease-Out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(1rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-1rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }

    80% {
        transform: translateY(-.2rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    font-size: .8rem;
    position: relative;
    transition: all .2s;
    cursor: pointer;
    text-shadow: none;
    padding: .5rem 1rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-text-dark, 0.2);
}

btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-text-dark, 0.2)
}

.btn--white {
    background: $color-text-light;
    color: $color-secondary;
}

.btn--xl:link,
.btn--xl:visited {
    padding: .8rem 1.5rem;
    font-size: 1 rem;
    font-weight: 400;
}

.btn--alt {
    background-color: $color-primary;
    color: $color-text-light;
}

