.u-center-text {
    text-align: center;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 6rem !important;
}

.u-padding-small {
    padding: 1rem !important;
}

.u-go-to-top {
    position: fixed !important;
    top: 90vh;
    left: 90vw;
}

.u-show {
    display: block !important;
    animation-name: moveInTop;
    animation-duration: .5s;
}

.fas {
    font-size: x-large;
}