/***************
** Base Styles for the Page
***************/

:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: whitesmoke;
}

a:link {
    text-decoration: none;
}


/***************
** Main element Styles
***************/

.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: rgb(236, 50, 88);
    color: #fff;
}

.nav-menu>li+li {
    border-top: 1px solid #ccc;
}

.nav-menu>li>a {
    display: block;
    padding: 0.8em 1em;
    color: #fff;
    font-weight: normal;
}

@media (min-width: 35em) {
    .nav-menu {
        display: flex;
        border: 0;
        padding: .5em 1em;
    }
    .nav-menu>li {
        flex: 1;
    }
    .nav-menu>li+li {
        border: 0;
    }
    .nav-menu>li>a {
        padding: 0.3em;
        text-align: center;
    }
}

@media (min-width: 50em) {
    .nav-menu {
        padding: .5em 4em;
    }
}

.menu {
    position: relative;
    text-align: left;
}

.menu-toggle {
    position: absolute;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
    margin: 0;
}

.menu.is-open .menu-dropdown {
    display: block;
}

@media (min-width: 35em) {
    .menu-toggle {
        display: none;
    }
    .menu-dropdown {
        display: block;
        position: static;
    }
}

.hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(../img/edika\ ikong.jpg);
    background-size: 100%;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

@media (min-width:35em) {
    .hero {
        padding: 5em 3em;
    }
}

@media (min-width: 50em) {
    .hero {
        padding: 7em 6em;
    }
}

.title>h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5em;
    margin: .2em 0;
    font-size: 300;
}

@media (min-width: 35em) {
    .title>h1 {
        font-size: 2.25rem;
    }
}

.title>p {
    color: #eee;
    margin: 0.8em;
}

.row {
    padding: 1em;
}

@media (min-width: 35em) {
    .row {
        display: flex;
        margin-left: -.75em;
        margin-right: -.75em;
        padding: 2em 1em;
    }
    .column {
        flex: 1;
        ;
        margin-right: .75em;
        margin-left: .75em;
    }
}

@media (min-width: 50em) {
    .row {
        padding: 2em 4em;
    }
}

.subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 0.875rem;
    text-transform: uppercase;
}

#message {
    height: 5em;
    width: 100%;
    margin-bottom: 1em;
    border: crimson 1px solid;
    background-color: white;
}

.btn {
    color: white;
    font-weight: 400;
    text-shadow: none;
    border: none;
    background: rgb(236, 50, 88);
    padding: .4em 1em;
    border-radius: 1em;
    cursor: pointer;
}

.btn:hover {
    box-shadow: .1em .1em .4em #000;
    position: relative;
    top: -.1em;
}