@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.hero__heading {
  display: block;
  color: #fbf5f3;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  padding-top: 5rem; }
  @media (max-width: 37.5em) {
    .hero__heading {
      font-size: 3.5rem; } }

.hero__sub-heading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 2rem; }
  @media (max-width: 37.5em) {
    .hero__sub-heading {
      font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #241623, #2176AE);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.fa-cart-arrow-down {
  font-size: 2rem;
  margin: 0 1rem;
  color: white;
  cursor: pointer; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-padding-small {
  padding: 1rem !important; }

.u-go-to-top {
  position: fixed !important;
  top: 90vh;
  left: 90vw; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem 4rem;
  z-index: 2;
  background-color: rgba(236, 50, 88, 0.3);
  width: 100%; }
  @media (max-width: 37.5em) {
    .header {
      background-color: initial; } }
  .header::after {
    content: "";
    clear: both;
    display: table; }
  .header__logo-box {
    display: inline-block;
    position: absolute;
    top: 0;
    background: #2176AE;
    padding: 3rem 4rem; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        left: 50%;
        transform: translateX(-50%); } }
  @media (max-width: 37.5em) {
    .header__menu {
      text-align: center;
      padding-top: 8rem;
      background-color: rgba(236, 50, 88, 0.3); } }
  .header__btn-container {
    float: right; }
    @media (max-width: 37.5em) {
      .header__btn-container {
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (4rem * 2)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (4rem * 3)) / 4); }
  .row .col-2-of-3 {
    width: calc((100% - ((100% - (4rem * 2)) / 3) - 4rem)); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4rem * 3)) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3  * ((100% - (4rem * 3)) / 4) + 2 * 4rem); }

.footer {
  padding: 2rem;
  margin-top: 2rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  transition: all .2s;
  cursor: pointer;
  text-shadow: none;
  padding: 1rem 2rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 4rem rgba(36, 22, 35, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(36, 22, 35, 0.2); }

.btn--main {
  background: #ec3258;
  color: #fbf5f3; }

.btn--alt {
  border: 1px solid #2176AE;
  background-color: #70476e;
  color: #fbf5f3; }

.btn--xl:link, .btn--xl:visited {
  padding: 1.2rem 4rem;
  font-size: 2rem;
  font-weight: 400;
  animation: moveInBottom 1s ease-Out; }

.btn-text {
  color: #ec3258;
  padding-bottom: .5rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #ec3258; }
  .btn-text:hover {
    background-color: #ec3258;
    color: #fbf5f3;
    font-weight: normal; }

.card {
  position: relative;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card__picture img {
    max-width: 100%;
    max-height: 25rem; }
  .card__heading {
    font-size: 2rem;
    padding: 0 1rem;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #51334f, #2176AE); }
  .card__details {
    color: #241623; }
    .card__details .paragraph {
      padding: .5rem;
      margin: 0 auto; }
    .card__details .form {
      padding: .5rem; }
  .card__price-tag {
    color: #fbf5f3;
    font-size: 120%;
    position: absolute;
    top: 8rem;
    border: dotted #51334f 0.2px;
    left: -1rem;
    padding: 0 1rem;
    background-color: rgba(236, 50, 88, 0.85); }

.primary-nav::after {
  content: "";
  clear: both;
  display: table; }

.primary-nav ul {
  margin: 0;
  padding: 0; }
  .primary-nav ul::after {
    content: "";
    clear: both;
    display: table; }

.primary-nav li {
  list-style: none;
  float: left;
  padding-right: 1.1rem; }
  @media (max-width: 37.5em) {
    .primary-nav li {
      float: none;
      display: inline-block; } }

.primary-nav a {
  color: #fbf5f3; }

.primary-nav--pull-right {
  float: right; }
  @media (max-width: 37.5em) {
    .primary-nav--pull-right {
      float: none; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 2rem rgba(36, 22, 35, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .5s;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0; } }
    .composition__photo:hover {
      outline: 0.5rem solid #ec3258;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.7);
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.form {
  padding: 2rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input, .form__textarea {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block; }
    .form__input:focus, .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #2176AE; }
    .form__input:focus:invalid, .form__textarea:focus:invalid {
      border-bottom: 3px solid red; }
  .form__textarea {
    height: 10rem; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.2rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label,
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.checkout {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 1s; }
  .checkout:target {
    opacity: 1;
    visibility: visible; }
  .checkout__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50rem;
    width: 80%;
    background-color: #fbf5f3;
    overflow: scroll; }
  .checkout .row,
  .checkout .form__group,
  .checkout .paragraph {
    margin-bottom: 1rem; }
  .checkout .form__input {
    padding: .5rem; }
  .checkout__order-item {
    border-bottom: .5px solid gray;
    padding: 1rem; }
    .checkout__order-item .btn {
      padding: 1rem; }
  .checkout__value {
    display: inline-block;
    margin: .4rem;
    padding: .2rem;
    background-color: rgba(33, 118, 174, 0.1); }
  .checkout__close:link, .checkout__close:visited {
    color: gray;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .checkout__close:hover {
    color: #2176AE; }

.hero {
  height: 95vh;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(81, 51, 79, 0.8), rgba(33, 118, 174, 0.8)), url(../img/palm-oil-stew-10.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  color: #fbf5f3;
  clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%); }
  @media (max-width: 56.25em) {
    .hero {
      clip-path: polygon(0 0, 100% 0%, 100% 90vh, 0% 100%); } }
  .hero__text-box {
    position: absolute;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .hero__heading {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .hero__sub-heading {
    animation: moveInRight 1s ease-Out; }

.about-section {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -10vh; }
  @media (max-width: 56.25em) {
    .about-section {
      padding: 10rem 0; } }

.contact-section {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #2176AE, #51334f); }
  @media (max-width: 56.25em) {
    .contact-section {
      padding: 10rem 0; } }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9), 50%, transparent 50%), url(../img/edika_ikong.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 50rem; }
  .contact__form {
    width: 50%; }
    @media (max-width: 56.25em) {
      .contact__form {
        width: 70%; } }

.menu-container {
  padding-top: 8rem;
  background-color: #fbf5f3; }

.signup-form {
  width: 80%;
  margin: 10rem auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.order-history {
  width: 80%;
  margin: 10rem auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .order-history table {
    width: 100%;
    font-size: 1.6rem;
    padding: 2rem;
    border-collapse: collapse; }
    .order-history table tbody tr:nth-child(even) {
      background-color: rgba(236, 50, 88, 0.2); }
      .order-history table tbody tr:nth-child(even):hover {
        background-color: rgba(236, 50, 88, 0.5); }
    .order-history table tbody tr:nth-child(odd) {
      background-color: rgba(33, 118, 174, 0.2); }
      .order-history table tbody tr:nth-child(odd):hover {
        background-color: rgba(33, 118, 174, 0.5); }
    .order-history table td {
      padding: 1rem; }
