@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.hero__heading {
  display: block;
  color: #fbf5f3;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  padding-top: 5rem; }

.hero__sub-heading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 2rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #241623, #2176AE);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem 4rem;
  z-index: 2;
  background-color: rgba(236, 50, 88, 0.3);
  width: 100%; }
  .header::after {
    content: "";
    clear: both;
    display: table; }
  .header__logo-box {
    display: inline-block;
    position: absolute;
    top: 0;
    background: #2176AE;
    padding: 3rem 4rem; }
  .header__btn-container {
    float: right; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (4rem * 2)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (4rem * 3)) / 4); }
  .row .col-2-of-3 {
    width: calc((100% - ((100% - (4rem * 2)) / 3) - 4rem)); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4rem * 3)) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3  * ((100% - (4rem * 3)) / 4) + 2 * 4rem); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.5rem;
  position: relative;
  transition: all .2s;
  cursor: pointer;
  text-shadow: none;
  padding: 1rem 2rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 4rem rgba(36, 22, 35, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(36, 22, 35, 0.2); }

.btn--main {
  background: #ec3258;
  color: #fbf5f3; }

.btn--alt {
  border: 1px solid #2176AE;
  background-color: #70476e;
  color: #fbf5f3; }

.btn--xl:link, .btn--xl:visited {
  padding: 1.2rem 4rem;
  font-size: 2rem;
  font-weight: 400;
  animation: moveInBottom 1s ease-Out; }

.primary-nav::after {
  content: "";
  clear: both;
  display: table; }

.primary-nav ul {
  margin: 0;
  padding: 0; }
  .primary-nav ul::after {
    content: "";
    clear: both;
    display: table; }

.primary-nav li {
  list-style: none;
  float: left;
  padding-right: 1.1rem; }

.primary-nav a {
  color: #fbf5f3; }

.primary-nav--pull-right {
  float: right; }

.hero {
  height: 95vh;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(81, 51, 79, 0.8), rgba(33, 118, 174, 0.8)), url(../img/palm-oil-stew-10.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  color: #fbf5f3;
  clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%); }
  .hero__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .hero__heading {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .hero__sub-heading {
    animation: moveInRight 1s ease-Out; }

.about-section {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -10vh; }
